@model GamesSearchAsp.Models.GameProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameProduct</h4>
<hr />

<p>@TempData["LinkError"]</p>
<div class="row">
    <div class="col-md-4">
        <div id="app">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GameId" class="control-label"></label>
                    <input class="form-control" v-model="gameName" type="search" list="game" v-on:input="onInputChanged" />
                    <input type="hidden" asp-for="GameId" id="GameHiddenInput" />
                    <datalist id="game">
                        <option v-for="item in gameList" v-bind:value="item.name" v-bind:id="item.id"></option>
                    </datalist>
                    <span asp-validation-for="GameId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Count" class="control-label"></label>
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Use a link to upload image</label>
                    <input id="uploadImgByLink" class="form-control" name="url" placeholder="Add post image" />
                </div>
                <div class="form-group">
                    <label>Upload image from computer</label>
                    <input id="uploadFileInput" class="form-control" type="file" name="uploadImg" placeholder="Choose file" />
                </div>
                <div class="form-group">
                    <label asp-for="GamePlatformId" class="control-label"></label>
                    <select asp-for="GamePlatformId" class="form-control" asp-items="ViewBag.GamePlatformId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/script.js"></script>
    <script>
        $(document).ready(function () {
            let value;
            $('#uploadFileInput').change(function () {
                value = $("#uploadFileInput").val();
                if (value) {
                    $("#uploadImgByLink").attr("disabled", true);
                }
            });
            $('#uploadImgByLink').change(function () {
                value = $("#uploadImgByLink").val();
                if (value) {
                    $("#uploadFileInput").attr("disabled", true);
                }
            });

        });

    </script>
}