@model GamesSearchAsp.Models.GameProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input  type="hidden" asp-for="Image"/>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <input asp-for="GameId" class="form-control" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Use a link to upload image</label>
                <input value="@Model.Image" name="url" id="uploadImgByLink" form-control"  placeholder="Add post image">
            </div>
            <div class="form-group">
                <label>Upload image from computer</label>
                <input id="uploadFileInput" form-control" type="file" name="uploadImg" placeholder="Choose file">
            </div>
            <div class="form-group">
                <label asp-for="GamePlatformId" class="control-label"></label>
                <select asp-for="GamePlatformId" class="form-control" asp-items="ViewBag.GamePlatformId"></select>
                <span asp-validation-for="GamePlatformId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

